API_ID=23497256
API_HASH=9b55ac125b107ef2a544b520aeca0823
BOT_TOKEN=7665256594:AAHqDwAKy0IzDTjA13-wgnNPv22CxtS8g9E
LOGGER_ID=-1002474197899
MONGO_DB_URI=mongodb+srv://priyanshikaurji:priyanshikaurji@cluster0.kcbnt.mongodb.net/TeleBot?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6388959089
STRING_SESSION=
